.container {
    flex: 0 0 80%;
    padding: 1em;
    display: flex;
    flex-direction: column;  
    overflow:auto;
}
.box{
    padding: 10px;
    margin: 10px 0;
    background-color: lightcoral;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}