html{
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  padding-top: 39px;
  overflow: hidden;
  background-color: aqua;
}
#root{
  height: 100%;
}
a{
  text-decoration: none;
 color: black;
 display: block; 
}