.container {
    background-color: black;
    flex: 0 0 80%;
    padding:10px 30px ;
    text-align: center;
    overflow: auto;
}
.container2{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.dateInput {
    border: 1px solid black;
    border-Radius: 5px;
    height: 30px;
    width: 250px;
    box-sizing: border-box;
    margin: 0 auto;
}
.dateInput:focus{
    outline: none;
}

.label{
    color: white;
}
.label:hover{
    color: #1A92DC;
}
.box {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
    background-color: rgb(102, 102, 102);
    width: 45%;
    height: 100px;
    margin: 20px 0;
    justify-content: flex-end; 
    box-sizing: border-box;
    padding: 10px;
    border-radius: 25px;
}
.recordsContainer {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    justify-content: space-between;
}

.theDay{
    font-size: 24px;
    margin-bottom: 20px;
}
.name{
    display:flex;  
    align-items:center; 
    padding-left:10px
}
.icon{
    width: 80px;
    height:  80px;
    border: 2px solid #1A92DC;

}
@media screen and (max-width:700px) {
    .container{
        padding: 0px;   
    }
    .label{
        font-size: 12px;
        margin-top: 90px;
        /* border: 1px solid red; */
        padding: 5px;
    }
    .container3{
       align-items: center;
    }
    .container3 h2{
        margin: 0;
    }
    .dateInput {
        width: 200px;
    }
    .info{
        font-size: 15px;
    }
    
.recordsContainer {
    padding: 10px;
}
.box{
    width: 100%;
    margin: 10px 0;
    height: 70px;
align-items: center;
}
    .box h2{
        font-size: 12px;
    }
    .icon{
        width: 50px;
        height:  50px;
    }
}