.container {
    flex: 0 0 80%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
tr{
    border-bottom: 1px solid black;

}
table{
    /* background-color: brown; */
    width: 100%;


}
th{
    background-color: white;
    padding: 20px;
}
td{
    text-align: center;
    background-color: aliceblue;
}


table, th, td {
    border: 1px solid black;
  }