.container {
    flex: 0 0 80%;
    text-align: center;
    padding-top: 50px;
    overflow: auto;
}

.box {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-top: 2em;
    padding: 0 15px;
}